In [24]:
import numpy as np
import pandas as pd
from scipy.stats import ks_2samp, kstest

In [60]:
np.random.seed(12345678)
x = np.random.normal(0, 1, 250000)
y = np.random.normal(0, 1.1, 250000)

In [61]:
df = pd.DataFrame({'X_val':x,'Y_val':y})
df.tail()

           X_val     Y_val
249995 -2.190227  0.349061
249996  1.304299  0.163069
249997 -1.821836  0.524842
249998  0.658860 -0.415637
249999  2.897697 -0.277106

In [62]:
ks_2samp(df['X_val'], df['Y_val'])

Ks_2sampResult(statistic=0.02460799999999999, pvalue=3.229403610690784e-66)