In [2]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb

In [17]:
stock_list = ['MSFT', 'AAPL','BA','BRK-B','PG']

close_data = pd.DataFrame()

for stock in stock_list:
    close_data[stock] = wb.DataReader(stock, data_source='yahoo', \
                                      start='2019-01-01', end='2019-01-10')['Adj Close']

close_data

                  MSFT        AAPL          BA       BRK-B         PG
Date
2019-01-02  100.318642  156.642365  320.350922  202.800003  89.928856
2019-01-03   96.628120  141.039642  307.578827  191.660004  89.298332
2019-01-04  101.122223  147.060516  323.585968  195.199997  91.120949
2019-01-07  101.251190  146.733185  324.604980  196.910004  90.756424
2019-01-08  101.985329  149.530380  336.892334  196.309998  91.091393
2019-01-09  103.443672  152.069672  340.157043  196.369995  89.603737
2019-01-10  102.778984  152.555710  348.843292  196.580002  89.820488
2019-01-11  101.985329  151.057922  349.130157  196.289993  90.411606

In [29]:
price_1 = close_data.as_matrix()

/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

In [19]:
return_df = close_data.pct_change()
return_df = return_df[1:]
return_df

                MSFT      AAPL        BA     BRK-B        PG
Date
2019-01-03 -0.036788 -0.099607 -0.039869 -0.054931 -0.007011
2019-01-04  0.046509  0.042689  0.052042  0.018470  0.020410
2019-01-07  0.001275 -0.002226  0.003149  0.008760 -0.004000
2019-01-08  0.007251  0.019063  0.037853 -0.003047  0.003691
2019-01-09  0.014300  0.016982  0.009691  0.000306 -0.016331
2019-01-10 -0.006426  0.003196  0.025536  0.001069  0.002419
2019-01-11 -0.007722 -0.009818  0.000822 -0.001475  0.006581

In [20]:
return_arr = return_df.as_matrix()

/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

In [9]:
return_arr

array([[-0.03678799, -0.09960729, -0.03986907, -0.05493096, -0.00701136],
       [ 0.04650926,  0.04268923,  0.0520424 ,  0.01847017,  0.02041042],
       [ 0.00127536, -0.00222583,  0.00314912,  0.00876028, -0.00400045],
       [ 0.00725067,  0.01906314,  0.03785325, -0.00304711,  0.00369085],
       [ 0.01429954,  0.01698178,  0.00969066,  0.00030563, -0.01633146],
       [-0.0064256 ,  0.00319615,  0.025536  ,  0.00106944,  0.002419  ],
       [-0.00772196, -0.00981797,  0.00082233, -0.00147527,  0.0065811 ]])

In [10]:
price_2 = np.zeros_like(close_data.as_matrix())

/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

In [27]:
price_2[0] = close_data.iloc[0].as_matrix()

for t in range(1, close_data.shape[0]):
    price_2[t] = price_2[t-1]*(1.0 + return_arr[t-1])

/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

In [28]:
price_2

array([[100.31864166, 156.6423645 , 320.35092163, 202.80000305,
         89.9288559 ],
       [ 96.62812042, 141.03964233, 307.5788269 , 191.66000366,
         89.29833221],
       [101.1222229 , 147.06051636, 323.58596802, 195.19999695,
         91.12094879],
       [101.25119019, 146.73318481, 324.60498047, 196.91000366,
         90.75642395],
       [101.98532867, 149.53038025, 336.89233398, 196.30999756,
         91.09139252],
       [103.44367218, 152.06967163, 340.15704346, 196.36999512,
         89.60373688],
       [102.77898407, 152.55570984, 348.84329224, 196.58000183,
         89.82048798],
       [101.98532867, 151.05792236, 349.13015747, 196.28999329,
         90.41160583]])

In [31]:
x = price_1 - price_2